extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Matthew Dodd

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hello again! I'm currently enrolled in the Treehouse Full Stack JavaScript techdegree. I'm aspiring to be a Full-Stack Developer in the near future. Please feel free to reach out to me if you have any questions!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Html
          li CSS
          li Vanilla JS
          li jQuery
          li Node.js 
          li Express
          li Ajax
          li UX/UI Design
        h6 Contact Info

        ul
          li 06 65 25 61 47
          li matthew.dodd93@gmail.com

  
        a.button.expanded(href='https://www.linkedin.com/in/matthew-dodd-5ab50315a/') LinkedIn
        a.button.expanded(href='https://github.com/MailboxArsonist') GitHub
        a.button.expanded(href='https://twitter.com/') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  